<article class="video">
  <div class="container">
    <div class="row">
      <div class="video_large_cover col-sm-7 col-sm-offset-1">
        <%= image_tag @video.poster_large_url %>
      </div>
      <div class="video_info col-sm-3">
        <header>
          <h3><%= @video.title %></h3>
          <span>Rating: <%= @video.rate || 'N/A' %> / 5.0</span>
        </header>
        <p><%= @video.description %></p>
        <div class="actions">
          <a class="btn btn-primary" href=""> Watch Now</a>
          <a class="btn btn-default" href=""> + My Queue</a>
        </div>
      </div>
    </div>
  </div>
</article>
<section class="reviews container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form>
        <fieldset>
          <div class="form-group">
            <label>Rate this video</label>
            <div class="row">
              <div class="col-sm-3">
                <select class="form-control" name="">
                  <option value="5"> 5 Stars</option>
                  <option value="4"> 4 Stars</option>
                  <option value="3"> 3 Stars</option>
                  <option value="2"> 2 Stars</option>
                  <option value="1"> 1 Star</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Write Review</label>
            <div class="row">
              <div class="col-sm-8">
                <textarea class="form-control" name="" rows="6"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-group actions clearfix">
          <input type="submit" value="Submit" class="btn"></input>
          <a href=""> Cancel</a>
        </fieldset>
      </form>
      <header>
        <h3>User Reviews (253)</h3>
      </header>
      <ul>
        <% 8.times do %>
          <article class="review">
            <li class="row">
              <div class="col-sm-2">
                <span>Rating: 5 / 5</span>
                <p>by <a href="">John A. Zoidberg</a></p>
              </div>
              <div class="col-sm-8">
                <p>In my opinion, this is one of the best shows ever made. It's not only funny, but despite being so frequently silly, it's very smart as well. Math, science, history, all get referenced. The best parts of the show are the subtle things, those little things in the background or just on screen for a couple of seconds that just make you laugh out loud if you were paying attention. The writers even appear to have been thinking ahead, because if you play close attention to the first episode, you can see a literal shadow of an event revealed seasons later.</p>
              </div>
            </li>
          </article>
        <% end %>
      </ul>
    </div>
  </div>
</section>
