<section class="admin_add_video">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal">
          <ul class="nav nav-tabs">
            <li>
              <a href="/ui/admin_views_payments"> Recent Payments</a>
            </li>
            <li class="active">
              <a href=""> Add a New Video</a>
            </li>
          </ul>
          <br/>
          <fieldset>
            <div class="form-group">
              <label class="control-label col-sm-3">Title</label>
              <div class="col-sm-3">
                <input class="form-control" type="text"></input>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Category</label>
              <div class="col-sm-6">
                <select class="form-control"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Description</label>
              <div class="col-sm-6">
                <textarea class="form-control" rows="8"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Large Cover</label>
              <div class="col-sm-6">
                <col class="btn btn-file">
                  <input class="form-control" type="file"></input>
                </col>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Small Cover</label>
              <div class="col-sm-6">
                <col class="btn btn-file">
                  <input class="form-control" type="file"></input>
                </col>
              </div>
            </div>
          </fieldset>
          <fieldset class="actions form-group">
            <div class="col-sm-6 col-md-offset-3">
              <input type="submit" value="Add Video" class="btn btn-default"></input>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
