<article class="video_category">
  <header>
    <h3>
      <%= link_to "TV Commedies" %>
    </h3>
  </header>
  <div class="videos row">
    <% 6.times do %>
      <div class="video col-sm-2">
        <%= link_to "", nil do %>
          <img/>
        <% end %>
      </div>
    <% end %>
  </div>
</article>
<article class="video_category">
  <header>
    <h3>
      <%= link_to "TV Dramas" %>
    </h3>
  </header>
  <div class="videos row">
    <% 6.times do %>
      <div class="video col-sm-2">
        <img/>
      </div>
    <% end %>
  </div>
</article>
<article class="video_category">
  <header>
    <h3>
      <%= link_to "Reality TV" %>
    </h3>
  </header>
  <div class="videos row">
    <% 6.times do %>
      <div class="video col-sm-2">
        <img/>
      </div>
    <% end %>
  </div>
</article>
