<section class="register container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form class="form-horizontal">
        <header>
          <h1>Register</h1>
        </header>
        <fieldset>
          <div class="form-group">
            <label class="control-label col-sm-2">Email Address</label>
            <div class="col-sm-6">
              <input class="form-control" type="email"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Password</label>
            <div class="col-sm-6">
              <input class="form-control" type="password"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Full Name</label>
            <div class="col-sm-6">
              <input class="form-control" type="text"></input>
            </div>
          </div>
        </fieldset>
        <fieldset class="credit_card">
          <div class="form-group">
            <label class="control-label col-sm-2">Credit Card Number</label>
            <div class="col-sm-6">
              <input class="form-control" type="text"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Security Code</label>
            <div class="col-sm-6">
              <input class="form-control" type="text"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Expiration</label>
            <div class="col-sm-3">
              <%= select_month(Date.today, {add_month_numbers: true},  class: 'form-control') %>
            </div>
            <div class="col-sm-2">
              <%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control') %>
            </div>
          </div>
        </fieldset>
        <fieldset class="actions control-group col-sm-offset-2">
          <div class="controls">
            <input type="submit" value="Sign Up" class="btn btn-default"></input>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
