<article class="video_category">
  <header>
    <h3>
      <%= @category.name.capitalize %>
    </h3>
    <hr/>
  </header>
  <div class="videos row">
    <% @category.videos.each do |video| %>
      <div class="video col-sm-2">
        <%= link_to video_path(video) do %>
          <%= image_tag video.poster_url %>
        <% end %>
      </div>
    <% end %>
  </div>
</article>

